<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSE Motors website">
    <meta name="author" content="Holly Briggs">
    <title>CSE Motors</title>
    <link rel="icon" href="favicon.ico">
    
    <!-- Open graph meta tags for social media -->
    <meta property="og:title" content="CSE Motors">
    <meta property="og:type" content="profile" />
    <meta property="og:image"
        content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.deloreanrental.com%2Fblog%2F10-facts-about-the-delorean&psig=AOvVaw0swFAAp_ActGucHkojF-Tw&ust=1746832214271000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPChprj_lI0DFQAAAAAdAAAAABAE">
    <meta property="og:url" content="https://hollypie.github.io/wdd231/">
    <meta property="og:description" content="CSE Motors website for car dealership that specializes in Deloreans">
    
    
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/small.css">
    <link rel="stylesheet" href="styles/large.css" media="(min-width: 768px)">
    
    <script src="js/script.js" defer></script>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
</head>