<header id="top-header">
    <div class="header-container">
        <div class="header-title">
            <div class="siteName">
                <h1><a href="/" title="Return to home page">CSE Motors</a></h1>
            </div>
        </div>
        <div id="tools">
            <% if (loggedin) { %>
                <a href="/account/">Welcome <%= accountData.account_firstname %></a>&nbsp;&nbsp;&nbsp;
                <a href="/account/logout">Logout</a>
            <% } else { %>
                    <a href="/account/login">Login</a>
                    <a href="/account/register">Register</a>    
            <% } %>
        </div>
    </div>
</header>