<h1>Welcome to CSE Motors</h1>
<img src="/images/vehicles/delorean.jpg" alt="graphic of a delorean car" loading="lazy">
<p>does this show up</p>
<div>
    <h2>Delorian Upgrades</h2>
    <div>
        <img src="" alt="flux capacitor graphic" loading="lazy">
        <a href="">Flux Capacitor</a>
    </div>
    <div>
    <img src="" alt="flame decals graphic" loading="lazy">
    <a href="">Flame Decals</a>
    </div>
    <div>
        <img src="" alt="bumper stickers graphic" loading="lazy">
        <a href="">Bumper Stickers</a>
    </div>
    <div>
        <img src="" alt="flux capacitor graphic" loading="lazy">
        <a href="">Flame Decals</a>
    </div>
</div>
